.container {
  min-height: 32px;
  padding: 0 16px;
  column-gap: 4px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #ffffff;
}

.container:hover {
  background-color: rgba(255, 255, 255, 0.08);
  cursor: pointer;
}
