.container {
  min-height: 32px;
  padding: 0 16px;
  column-gap: 4px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
}

.container:hover {
  cursor: pointer;
}
