.section,
.rowSection,
.headlineSection {
  margin: 0 auto;
  max-width: 1248px;
  height: 100%;
}

.section {
  padding: 32px 24px;
}

.rowSection {
  margin: 32px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.headlineSection {
  display: flex;
}

.aside {
  width: 300px;
  padding-top: 32px;
}
