.section,
.rowSection,
.headlineSection {
  margin: 0 auto;
  max-width: 1248px;
  height: 100%;
}

.section {
  padding: 32px 24px;
}

.rowSection {
  margin: 32px auto;
}

.headlineSection {
  display: flex;
}

.aside {
  width: 300px;
  padding-top: 32px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  letter-spacing: 0.065em;
  color: rgb(82, 82, 79);
}

.headline {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  font-family: Calibre, sans-serif;
  text-transform: uppercase;
}
