.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.leftColumn,
.rightColumn {
  border-right: 1px solid #f0f0ee;
}

.rightColumn,
.halfArticleImage {
  margin-inline-start: 24px;
}

.rightColumn,
.leftColumn {
  padding-inline-end: 24px;
}

.halfArticleCard {
  display: flex;
  width: 347px;
  height: auto;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.halfArticleContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.halfArticleAttribution {
  padding-top: 8px;
}

.card {
  padding-bottom: 16px;
  margin-bottom: 16px;
}
