@font-face {
  font-family: TiemposHeadline;
  src: url(../fonts/Tiempos/TiemposHeadline-Light.otf), format('otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: TiemposHeadline;
  src: url(../fonts/Tiempos/TiemposHeadline-Regular.otf), format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: TiemposHeadline;
  src: url(../fonts/Tiempos/TiemposHeadline-Medium.otf), format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: TiemposHeadline;
  src: url(../fonts/Tiempos/TiemposHeadline-Semibold.otf), format('otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: TiemposHeadline;
  src: url(../fonts/Tiempos/TiemposHeadline-Bold.otf), format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Calibre;
  src: url(../fonts/Calibre/CalibreLight.otf), format('otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Calibre;
  src: url(../fonts/Calibre/CalibreRegular.otf), format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Calibre;
  src: url(../fonts/Calibre/CalibreMedium.otf), format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Calibre;
  src: url(../fonts/Calibre/CalibreSemibold.otf), format('otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Calibre;
  src: url(../fonts/Calibre/CalibreBold.otf), format('otf');
  font-weight: 700;
  font-style: normal;
}
